.product-wrapper {
  border: 1px solid black;
  width: 200px;
  height: 350px;
  background-color: #242424;
}
.product__picture-wrapper {
  min-height: 170px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.product__description > * {
  margin: 0;
  color: #cfcfcf;
}